:root {
    --gridSize: 16;
    --background-color-1: #6C3428;
    --background-color-2: #BA704F;
    --background-color-3: #DFA878;
    --background-color-4: #CEE6F3;
    --background-color-grid: white;
}


/*What does these three do?*/
*,
*::before,
*::after {
    /*border: solid red;*/
    box-sizing: border-box;
    font-family: Lucida Sans;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background-color-4);
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#grid {
    min-height: 500px;
    min-width: 500px;
    height: 500px;
    width: 500px;
    border: none;
    outline: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    /* Specifies “3 columns per row”. repeat(3, minmax(0, 1fr))
    will create 3 equal columns, while repeat(3, auto) allows the 
    browser to resize as required. */
    grid-template-columns: repeat(var(--gridSize), minmax(0, 1fr));
    grid-gap: 0;
    padding: 0;
    margin: 0 32px;
    background: var(--background-color-grid);
    border-radius: 2px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    /*outline: 1px solid black;*/
    margin: 0;
    width: calc(500px/var(--gridSize));
    height: calc(500px/var(--gridSize));
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    margin: 8px;
    gap: 16px;
    /*border: 1px solid #000;*/
    border-radius: 16px;
    background-color: var(--background-color-3);
    box-shadow: 2px 2px 10px white;
}

.pick-a-color {
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    /*outline: 2px solid black;*/
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 0;
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
    width: 40px;
    /*outline: 1px solid black;*/
    margin: 0;
    border: 1px solid white;
}

.chooseColors {
    margin: 8px;
}

h3 {
    text-align: center;
}

.colorModeButton {
    border: none;
    background-color: #000;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.color:hover {
    border: 1px solid black;
}

.colorModeButton:hover, .erasorModeButton:hover, #clearButton:hover {
    scale: 1.1;
}

.erasorModeButton, #clearButton {
    border-radius: 3px;
    border: none;
}